<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Scanner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-button expand="full" (click)="scan()">Scan Barcode/QR</ion-button>
  <div *ngIf="result">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Scan Result</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ result }}</p>
        <ion-button color="primary" (click)="findByBarcode(result)">Find Product</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
