<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" href="/tabs/tab1">
      <ion-icon name="speedometer"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inventory" href="/tabs/tab2">
      <ion-icon name="layers"></ion-icon>
      <ion-label>Inventory</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="scanner" href="/tabs/tab3">
      <ion-icon name="scan"></ion-icon>
      <ion-label>Scanner</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sales" href="/tabs/sales">
      <ion-icon name="cash"></ion-icon>
      <ion-label>Sales</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reports" href="/tabs/reports">
      <ion-icon name="stats-chart"></ion-icon>
      <ion-label>Reports</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
